{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% block title %}Welcome to my blog{% endblock %}

{% block content %}
<div id="main" align="center">    
	<h2>Categories</h2>
    	{% if categories %}
        <div id="cat">
	<ol>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ol>
	</div>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}

       <h2>Posts</h2>
   	<div id="posts">

	 {% if posts %}
        <ol>

        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ol>
	</div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</div>
{% endblock %}
